.section2 {
  /* background: url("../image/backside_img.jpg") no-repeat;
  background-size: 950px 750px;
  background-position: 25% 100%; */
  background-color:#f1f1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.section2 .section2_heading {
  width: 80%;
  margin: 30px 1.5%;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  color: #636363;
  padding: 5px 10px;
  font-size: 26px;
  font-weight: bolder;
  font-family: "Oswald", sans-serif;
  transform: scaleX(3deg);
}
.grid_list {
  /* padding: 1rem 0px 3rem 0px; */
  /* margin:  5%; */
  width: 80%;
  /* background: #fff; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 2rem;
}

.grid_group {
  width: 100%;
  font-family: sans-serif;
  /* background-color:#ffffff; */
  /* padding: 1rem; */
  /* box-shadow: -3px -2px 20px -10px rgb(19, 18, 18); */
}

.grid_group h3 {
  width: 100%;
  background-color: rgb(207, 204, 36);
  font-size: 1.2rem;
  padding: 5px 10px;
  color: #fffdfd;
  box-shadow: 5px 5px gray;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
}
.grid_group p {
  font-size: 0.85rem;
  color: #292424cf;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  padding: 20px 5px;
}
